/*Some necessary adjustments*/
h1,
body,
html,
main {
  margin: 0;
}
.continer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 5;
}

.background-header {
  background-image: url("../images/HeaderBackground1920x1280.jpg");
  height: 100vh;
  width: 100%;
}
.content-header {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
}
.introduction {
  position: absolute;
  font-size: 1.3rem;
  color: white;
  margin-top: 10%;
  padding: 0% 20% 0% 20%;
}
#logo {
  margin-top: 5vh;
  margin-left: 5vw;
  position: absolute;
  color: rgb(255, 49, 93);
  font-weight: bolder;
  font-size: 3rem;
  left: 0;
}
ul {
  display: flex;
  position: relative;
  margin-top: 5vh;
  margin-left: 5vw;
  justify-content: space-around;
  right: 0;
}
li {
  position: relative;
  right: 0;
  margin: 10vh;
  margin-top: 2vh;
  font-size: 1.5rem;
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
main {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
p {
  padding: 5%;
  font-size: 1.2rem;
  text-align: justify;
}
h1 {
  text-align: center;
}
h1.header-Services {
  font-weight: bold;
  text-align: center;
  font-size: 5rem;
  margin: 2%;
}
.header {
  font-size: 6rem;
}
h5 {
  font-size: 1.5rem;
}
.main-header {
  font-size: 6rem;
}

@media only screen and (max-width: 600px) {
  /*Some necessary adjustments*/
  h1,
  body,
  html,
  main {
    margin: 0;
  }
  .continer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .background-header {
    background-image: url("../images/HeaderBackground1920x1280.jpg");
    height: 100vh;
    width: 100%;
  }
  .content-header {
    display: flex;
    position: relative;
    align-items: flex-start;
  }
  h5 {
    font-weight: lighter;
    text-align: justify;
  }
  .introduction {
    position: absolute;
    font-size: 1.3rem;
    color: white;
    padding: 5vh;
  }
  #logo {
    position: absolute;
    color: rgb(255, 49, 93);
    font-weight: bolder;
    left: 0;
    margin: 2vh;
  }
  ul {
    margin: auto;
    margin-top: 5vh;
  }
  li {
    margin-top: 2vh;
    font-size: 1.5rem;
    list-style: none;
  }
  a {
    text-decoration: none;
    color: white;
  }
  main {
    text-align: center;
    display: block;
  }
  p {
    padding: 5vh;
    font-size: 1.2rem;
  }
  h1 {
    font-size: 1.8rem;
    text-align: left;
  }
  h1.header-Services {
    font-weight: bold;
    text-align: center;
  }
  .h1-center {
    text-align: center;
  }
}
